:root{
    --color-bcgr-dark: rgba(33,23,15,1);
	--color-text: rgba(246,229,221,1);
	--color-red: rgba(134,48,35,1);

	--color-grad: linear-gradient(to bottom, rgba(33,23,15,0.129) 1.04%,rgba(100,68,45,0.392) 100%);
	--color-grayish: rgba(86,81,75,1);
	--color-linear-red: linear-gradient(to bottom, rgba(134,48,35,0.525) 7.81%,rgba(100,68,45,0.392) 100%);
	--color-alt-text: rgba(195,171,161,1);
    --headerHeight: 3rem;
}

.home{
    padding: 2rem 6rem;
    @media screen and (max-width: 768px) {
        padding: 0 3rem;
      }

    z-index: 2;
    width: 100%;
    .introText{
        font-size: 1.5rem;
        color: var(--color-alt-text);
        font-weight: 500;
        // padding-bottom: 2rem;
    }
    .title{
        font-size: 3.5rem;
        font-weight: 600;
        color:var(--color-text);
        padding: .7rem 0;
        // margin-bottom: 2rem;

    }
    .subTitle{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        display: block;
        color: var(--color-alt-text);
    }

.lowerHomeSec{
    .cvBtn{
    padding: 1rem 1rem;
    background: var(--color-red);
    border-radius: 20px;
    border: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text);
    gap: 0.5rem;

    &:hover{
        background: linear-gradient(0deg, rgba(246, 224, 221, 0.2), rgba(246, 224, 221, 0.2)), #863023;
    }
  
    }
   

    .btnDiv{
        margin-top: 4rem;
    }


    .scrollDiv{
        margin-top: 4rem;
        display: flex;
        align-items: center;
        .scroll{
            font-size: 1rem;
            color: var(--color-alt-text);
            margin: 0rem 1em;
            font-weight: 500;
            

        }
        .arrow{
            color: var(--color-text);
            position:relative;
            top: 0.2rem;            
        }
        
    }
}   
.home-elms{
    padding-top: 2rem;
    
}

.img-container{
  margin: 6rem 10rem ;
  display: flex;
  justify-content: space-between;

  .me{
        padding-top: 2rem;
        width: 351px;
        height: 100%;
    }

}
   

}


.front-elms{
    .email-container {
        position: fixed;
        left: 3%;
        top: 0;
        bottom: 0;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &::after {
            content: "";
            display: block;
            height: 20%;
            border-left: 1px solid var(--color-alt-text);
            margin-right: 0.5rem;
          }

      }
      .icons-container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        right: 3%;
        &::after {
            content: "";
            display: block;
            height: 20%;
            border-left: 1px solid var(--color-alt-text);
            margin-right: 0rem;
          }
      }
      
      .email-text, .icons {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 1.2rem;
        color: var(--color-alt-text);
        margin-bottom: 1rem;
      
      }
      
      .altIcon{
            margin-top: 1rem;
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 1100px){
    .front-elms{
        display: none;
    }
    .home{
        margin: 0;
    .introText{
        margin-top: 2rem;
    }
    .img-container{
        align-items: center;
        margin: 6rem 2rem;

    }
    .me{
        margin-left: 2rem;
        padding-top: 0rem !important;
        max-width: 70%;
        
    }
    .home-elms{
        padding: 0;
    }
} 
}

@media screen and (max-width: 800px){
    .front-elms{
        display: none;
    }
    .home{
       padding-top: 8rem;

       .lowerHomeSec{
        .cvBtn{
        padding: 0.8rem 0.8rem;  
        font-size: 1.1rem;
        }
       }
   
        .introText{
            font-size: 1.1rem;
        }
        .title{
            font-size: 3rem;
         
        }
        .subTitle{
            font-size: 1.1rem;

        }

    .img-container{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
    .me{
        margin: 2rem;
        max-width: 170%;
        height: 100%;
        
    }
    .home-elms{
        padding: 0rem;
    }
} 
}
