:root{
    --color-bcgr-dark: rgba(33,23,15,1);
	--color-text: rgba(246,229,221,1);
	--color-red: rgba(134,48,35,1);

	--color-grad: linear-gradient(to bottom, rgba(33,23,15,0.129) 1.04%,rgba(100,68,45,0.392) 100%);
	--color-grayish: rgba(86,81,75,1);
	--color-linear-red: linear-gradient(to bottom, rgba(134,48,35,0.525) 7.81%,rgba(100,68,45,0.392) 100%);
	--color-alt-text: rgba(195,171,161,1);
    --headerHeight: 3rem;
}

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    padding: 2.5rem;
    // background: var(--color-bcgr-dark);

    .logo, a{
        color: var(--color-text);
    }
    z-index: 1;



.navLists{
    display: flex;
    justify-content: center;
}


.navItem{
    margin-right: 3rem;
}

  
.logoDiv:hover  {
    filter: drop-shadow( 0 0 30px var(--color-text)) brightness(105%);
  }

  .navLink:hover{
    filter: drop-shadow( 0 0 10px var(--color-text)) brightness(105%);

}

.toggleNavbar{
    display: none;
}

.closeNavbar{
  display: none;
}
.logoDiv{
    margin-left: 2rem;
}

}

.activeH{
    background-color: var(--color-bcgr-dark);
    box-shadow: 0px 2px 3px var(--color-alt-text);
}

@media screen and (max-width: 768px) {
    .header{
        background: var(--color-bcgr-dark);
   
    .navbar{
        background: var(--color-bcgr-dark);
        position: absolute;
        height: max-content;
        width: 80%;
        
        padding: 1rem;
        top: -100rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        border: 0.1rem solid var(--color-text);
        border-radius: 1rem;
       
    
    .navLists{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;

    }
    .navItem{
        margin: 0;
        margin-top: 0.6rem;
        padding: 1rem 0;
        .navLink{
            font-size: 1.2rem;
            font-weight: 500;
           
        }
    }

   
    
    .closeNavbar{
      position: fixed;  
      display: block;
      top: 1.2rem;
      right: 0.8rem;
      color: var(--color-text);
      z-index: 2000;
     &:hover{
        .icon{
            filter: drop-shadow( 0 0 20px var(--color-text)) brightness(105%);
        }
     }
    }

   }  
 .toggleNavbar{
        position: absolute;
        display: block;
        top: 1.7rem;
        right: 2rem;
        
        color: var(--color-text);
        .icon{
            font-size: 2rem;
        }
        &:hover{
            .icon{
                filter: drop-shadow( 0 0 20px var(--color-text)) brightness(105%);
            }
         }

    }
    .logoDiv{
        margin-left: 1rem;
    }
   
    .activeNavbar{
        top: 6rem;
    }
}
    

}

@media screen and (max-width: 280px) {

.header{
    font-size: 0.6rem;
    .icon{
        font-size: 1.2rem;
    }
}
}