@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    transition: .3s ease;
}


:root{
    --color-bcgr-dark: rgba(33,23,15,1);
	--color-text: rgba(246,229,221,1);
	--color-red: rgba(134,48,35,1);
	--color-grad: linear-gradient(to bottom, rgba(33,23,15,0.129) 1.04%,rgba(100,68,45,0.392) 100%);
	--color-grayish: rgba(86,81,75,1);
	--color-linear-red: linear-gradient(to bottom, rgba(134,48,35,0.525) 7.81%,rgba(100,68,45,0.392) 100%);
	--color-alt-text: rgba(195,171,161,1);
    
}
/* Default css setup */

html{
    scroll-behavior: smooth;
    background: linear-gradient(90deg, rgba(33,23,15,1) 14%, rgba(100,68,45,1) 100%) !important;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    align-content: center;
}

.grid{
    display: grid;
    align-content: center;

}

input, textarea{
    font-size: 100%;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

img{
    height: auto;
    width: 100%;

}

.icon{
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: .5rem;
    padding: 0;
  
}

.altIcon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-alt-text);
}

.btn{
    border: 2px solid var(--color-red);
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 20px;
    color: var(--color-red);
    position: relative;

}

